.messagePanel {
    width: 100%;
    height: 200px;
    background: white;
    margin-top: 10px;
    border: groove;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.user {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.date {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.bubble {
    position: relative;
    width: 50%;
    height: 50%;
    background: #f2f2f2;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.bubble:after {
    content: '';
    position: absolute;
    right: -40px;
    top: 50%;
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-left-color: #f2f2f2;
    border-right: 0;
    border-top: 0;
    margin-top: 10px;
    margin-right: 20px;
}

.text {
    font-family: Helvetica, Arial, sans-serif;
    text-wrap: suppress;
    word-wrap: break-word;
}

.messageInput {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 30px;
    font-size: 13px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.messageInput:hover {
    border: 1px solid #1890ff;
}

.messageInput:focus {
    border: 1,5px solid #1890ff;
}